@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 166 91% 32%;
    --primary-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --ring: 166 91% 32%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}
